html, body {
  font-family: 'Anton', sans-serif;
  background: url('Assets/123.jfif') no-repeat center center fixed;
  color:rgb(27, 24, 24);
}
/*Reset*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 100%;
}
#menu{
  width:100%;
  height:90px;
  background-color: rgba(10, 10, 10, 0.9);
  position: fixed;
  text-align:center;
  z-index:9999;
  margin: 0 auto; left:0px; right:0px;
  box-shadow:2px 2px 20px #c8f3f9;
}
.uli{
  width:100%;
  height:auto;
}
.lil{
  display:inline-block;
  background-color: hsla(0, 0%, 100%, .5);
  border:1px solid rgb(235, 118, 9);
  margin:1vw;
  padding:0.5vw;
  border-radius: 5px;
  color:black;
  height:auto;
  box-shadow:2px 2px 5px #151414;
  transition: all 0.8s ease-in-out;
}
.lil:hover{
  background-color:#787d9e;
  color:rgb(4, 4, 4);
  box-shadow:2px 2px 20px #c8f3f9;
  border-radius:10px;
  transform: scale(1.2);
}
a{
  text-decoration:none;
  color:#494949;
  text-shadow:2px 2px 10px white;
}
a:hover{
  color:rgb(14, 14, 14);
  text-shadow:2px 2px 5px #c8f3f9;
  text-decoration:underline;
}
#all-page{
  width:80%;
  margin-right:auto;
  margin-left:auto;
  box-shadow:2px 2px 20px #c8f3f9;
  height:auto;
  background-color: hsla(0, 0%, 100%, .3);
}
img{
  border-radius:100%;
  height: 5px;
  border:1px solid silver;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  height:30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(5%);
  border:5px solid rgb(235, 118, 9);
}
#kep-nev{
  width:100%;
  height:30%;
  box-shadow:2px 2px 10px white;
  padding-bottom:10px;
}
#kep{
  width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*float:right;*/
  /*margin-top:105px;*/
}
#adatok{
  text-align:center;
  padding-top:1vw;
  width:auto;
  height:100%
}
h1{
  font-size:35px;
}
.right{
  float:right;
}
#bemutat{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
  font-size:20px;
}
.bigger{
  font-size:25px;
  text-shadow:2px 2px 10px #dae9ed;
  border-bottom:1px solid white;
}
ul, li{
  margin: 15px;
}
.lidart{
  display:inline-block;
}
.adart{
  color:rgba(8, 54, 240, 0.7);
}
/* PAGE STYLES */
:root { font-size: 16px; }
* { box-sizing: border-box; }
html {
  font-family: 'Montserrat', sans-serif;
}
.pin-title {
  position: fixed;
  top: 1.875rem;
  bottom: 1.875rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
  font-size: 800%;
  letter-spacing: 0.0625rem;
  color: #f3f3f3;
  user-select: none;
  z-index: -1;
  text-align: center;
}


/* COOKIE POPUP STYLES */

.cookie-popup {
  
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: -6.25rem;
  left: 1.25rem;
  right: 1.25rem;
  padding: 0.625rem 0.9375rem;
  box-shadow: 0 0 0.625rem 0 rgba(0,0,0, .15);
  line-height: 150%;
  transition: opacity .5s;
  opacity: 0;
}
.cookie-popup--short {
  right: none;
  width: 21.875rem; 
}
.cookie-popup--dark {
  background: #000;
  color: #fff;
}
.cookie-popup--not-accepted {
  opacity: 1;
  animation: cookie-popup-in .5s ease forwards;  
}
.cookie-popup--accepted {
  opacity: 0;
}
.cookie-popup a {
  color: skyblue;
}
.cookie-popup a:visited {
  color: skyblue;
  text-decoration: none;
}
.cookie-popup-actions {
  flex: 1;
  text-align: right;
}
.cookie-popup-actions button {
  color: orange;
  border: none;
  background: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 	0.75rem;
  padding: 0;
  cursor: pointer;
}
.cookie-popup-actions button:hover {
  text-decoration: underline;
}

@keyframes cookie-popup-in {
  from { bottom: -6.25rem; }
  to { bottom: 1.25rem; }
}
